@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* skill section animation */

html {
  scroll-behavior: smooth;
}

@keyframes rotateOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes star {
  0%, 100% {
    transform: translateY(0px);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-2px);
    opacity: 0.8;
  }
}

.animate-star {
  animation: star 5s ease-in-out infinite;
}
