@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* body { */
    /* font-family: 'Roboto', sans-serif; */
  /* } */


/* skill section animation */

html {
  scroll-behavior: smooth;
}

@keyframes rotateOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes star {
  0%, 100% {
    transform: translateY(0px);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-2px);
    opacity: 0.8;
  }
}

.animate-star {
  animation: star 5s ease-in-out infinite;
}



/* index.css */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes starfield {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2000px 2000px;
  }
}

.starry-bg {
  background-image: radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  animation: starfield 120s linear infinite;
  opacity: 0.05;
}







/* //dual galaxy */

@keyframes spin {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  100% {
    transform: rotate(360deg) translateX(0px);
  }
}

@keyframes starsMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 10000px;
  }
}

